## 練習
リスト `ln` を引数として取り、`ln` の偶数番目のインデックスの値を削除したリストを返す関数 `remove_evenindex` を作成してください（ただし、0 は偶数として扱うものとします）。

ヒント：スライスを使います。

以下のセルの `...` のところを書き換えて `remove_evenindex(ln)` を作成してください。

In [7]:
def remove_evenindex(ln):
  new_list = ln[1::2]
  return new_list

上のセルで解答を作成した後、以下のセルを実行し、実行結果が全て `True` になることを確認してください。

In [8]:
print(remove_evenindex(['a', 'b', 'c', 'd', 'e', 'f', 'g']) == ['b', 'd', 'f'] )
print(remove_evenindex([1, 2, 3, 4, 5]) == [2, 4])

True
True

### 練習

英語の１文からなる文字列 `str_engsentence` が引数として与えられたとき、`str_engsentence` 中に含まれる単語数を返す関数 `count_words` を作成してください。ただし、文はピリオドで終了し単語は空白で区切られるものとします。

ヒント：文字列に対する `split` メソッドを使います。

以下のセルの `...` のところを書き換えて `count_words(str_engsentence)` を作成してください。

In [9]:
def count_words(str_engsentence):
    str_list = str_engsentence.split(' ')
    return len(str_list)

上のセルで解答を作成した後、以下のセルを実行し、実行結果が `True` になることを確認してください。

In [10]:
print(count_words('From Stettin in the Baltic to Trieste in the Adriatic an iron curtain has descended across the Continent.') == 18)

True

## 練習
整数の要素からなるリスト `ln` を引数として取り、
`ln` に含まれる要素を逆順に格納したタプルを返す関数 `reverse_totuple` を作成してください。

以下のセルの `...` のところを書き換えて `reverse_totuple(ln)` を作成してください。

In [30]:
def reverse_totuple(ln):
    ln_reverse = tuple(reversed(ln))
    return ln_reverse

上のセルで解答を作成した後、以下のセルを実行し、実行結果が `True` になることを確認してください。

In [32]:
print(reverse_totuple([1, 2, 3, 4, 5]) == (5, 4, 3, 2, 1))

True

## 練習
整数の要素からなるリスト `ln` を引数として取り、`ln` の要素の総和を返す関数 `sum_list` を作成してください。

以下のセルの `...` のところを書き換えて `sum_list(ln)` を作成してください。

In [33]:
def sum_list(ln):
    return sum(ln)

上のセルで解答を作成した後、以下のセルを実行し、実行結果が全て True になることを確認してください。

In [34]:
print(sum_list([10, 20, 30]) == 60)
print(sum_list([-1, 2, -3, 4, -5]) == -3)

True
True

## 練習

ATGCの4種類の文字から成る文字列 `str_atgc` が引数として与えられたとき、次のようなリスト `list_count` を返す関数 `atgc_countlist` を作成してください。ただし、 `list_count` の要素は、各塩基 `bp` に対して `str_atgc` 中の `bp` の出現回数と `bp` の名前を格納した（長さ2の）リストとします。

ヒント：文字列 `'ATGC'` に対する繰り返しを用いることができます。

以下のセルの `...` のところを書き換えて `atgc_countlist(str_atgc)` を作成してください。

In [43]:
def atgc_countlist(str_atgc):
    atgc_list = []
    for i in str_atgc:
        atgc_list.append(i)
    
    list_count = []
    for value in 'ATGC':
        tmp_list = []
        tmp_list.append(atgc_list.count(value))
        tmp_list.append(value)
        list_count.append(tmp_list)
    
    return list_count

In [44]:
atgc_countlist('AAGCCCCATGGTAA')

[[5, 'A'], [2, 'T'], [3, 'G'], [4, 'C']]

上のセルで解答を作成した後、以下のセルを実行し、実行結果が `True` になることを確認してください。

In [45]:
print(sorted(atgc_countlist('AAGCCCCATGGTAA')) == sorted([[5, 'A'], [2, 'T'], [3, 'G'], [4, 'C']]))

True

## 練習の解答

In [ ]:
def remove_evenindex(ln):
    ln2 = ln[1::2]
    return ln2
#remove_evenindex(['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [ ]:
def count_words(str_engsentences):
    list_str1 = str_engsentences.split(' ')
    return len(list_str1)
#count_words('From Stettin in the Baltic to Trieste in the Adriatic an iron curtain has descended across the Continent.')

In [ ]:
def reverse_totuple(ln):
    ln.reverse()
    tup = tuple(ln)
    return tup
#reverse_totuple([1, 2, 3, 4, 5])

In [ ]:
def sum_list(ln):
    int_sum = 0
    for value in ln:
        int_sum += value
    return int_sum
#sum_list([10, 20, 30])

In [ ]:
def atgc_countlist(str_atgc):
    list_count = []
    for value in 'ATGC':
        int_bpcnt = str_atgc.count(value)
        list_count.append([int_bpcnt, value])
    return list_count
#atgc_countlist('AAGCCCCATGGTAA')